<%= form_with(model: membership, local: false, id: "new_membership_form_for_"+dom_id(@group)) do |form| %>
  <% if membership.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(membership.errors.count, "error") %> prohibited this membership from being saved:</h2>

      <ul>
        <% membership.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :group_id %>
    <%= form.select :group_id, options_for_select(@groups.map{ |group| [group.group_name, group.id]}, @group.id)%>
  </div>

  <div class="field">
    <%= form.label :contact_id %>
    <%= form.select(:contact_id, @contacts.map { |contact| [ contact.name+" "+contact.last_name, contact.id ] }) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
