<div class="card" id="<%= dom_id(group) %>">

  <div class="card-header">
    <h6 class="card-title">
      <%= link_to group.group_name, group, id: dom_id(group)+"_group_name" %>    
        <span>

          <%= link_to new_membership_path(:group_id => group.id), class: "btn btn-link btn-sm text-muted", remote: true do %>
          <i class="bi bi-person-plus-fill"></i>
          <% end %>
          
          <%= link_to edit_group_path(group), class: "btn btn-link btn-sm text-muted", remote: true do %>
            <i class="bi bi-pencil-fill"></i>
          <% end %>

          <%= link_to group, method: :delete, class: "btn btn-link btn-sm text-muted", remote: true do %>
            <i class="bi bi-trash-fill"></i>
          <% end %>
        </span>
    </h6>
  </div>

  <div>

      <button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#<%= dom_id(group) %>_contacts" aria-expanded="false" aria-controls="<%= dom_id(group) %>_contacts">
        Show contacts
      </button>

    <div class="collapse" id="<%= dom_id(group) %>_contacts">
      <div class="card card-body">
        <ul class="list-group list-group-flush">
          <% group.contacts.order(:last_name).each do |contact|%>
          <li class="list-group-item" id="membership_<%= Membership.find_by(group_id: group.id, contact_id: contact.id).id %>">
            <%= link_to "#{contact.name} #{contact.last_name}", contact%> uses <%= contact.communication_channel%> 
              <span class="badge float-right"> 
                <%= link_to membership_path(Membership.find_by(group_id: group.id, contact_id: contact.id)), method: :delete, remote: true, class: "btn btn-link btn-sm text-muted" do %>
                <i class="bi bi-trash-fill"></i>
                <% end %>
              </span>
          </li>
          <%end%>
        </ul>        
      </div>
    </div>    
  </div>
</div>  
