
<tr id="<%= dom_id(contact) %>" class="row justify-content-center">
  <td class="col-md-1"><%= contact.name %></td>
  <td class="col-md-1"><%= contact.last_name %></td>
  <td class="col-md-2"><%= contact.phone_number %></td>
  <td class="col-md-1"><%= contact.communication_channel %></td>
  <td class="col-md-2"><%= contact.email %></td>
  <td class="col-md-1"><%= contact.organization %></td>
  <td class="col-md-2">
  
  <button class="btn btn-info btn-sm" type="button" data-toggle="collapse" data-target="#<%= dom_id(contact) %>_social_networks" aria-expanded="false" aria-controls="<%= dom_id(contact) %>_social_networks">
    Show social networks
  </button>

<div class="collapse" id="<%= dom_id(contact) %>_social_networks">
  <div class="card card-body">
   <li> Facebook: <%= contact.facebook %> </li>
   <li> Instagram: <%= contact.instagram %> </li>
   <li> Twitter: <%= contact.twitter %> </li>
  </div>
</div>
  
  </td>
  <td class="col-md-1">

    <%= link_to edit_contact_path(contact), class: "btn btn-link btn-sm text-muted" do %>
      <i class="bi bi-pencil-fill"></i>
    <% end %>

    <%= link_to contact, method: :delete, class: "btn btn-link btn-sm text-muted", remote: true do %>
      <i class="bi bi-trash-fill"></i>
    <% end %>

  </td>
</tr>